<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <div id="Highscorecard">
                    <table>
                        <thead id="tableHeader">
                            <th>Winner</th>
                            <th>Score</th>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < 20; i++) { %>
                                <tr id="tableRow">
                                    <td>
                                        <%= sqlData[i].username %>
                                    </td>
                                    <td>
                                        <%= sqlData[i].score %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <%- include ../layout/footer.ejs %>
            </main>

    </body>

    </html>