<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
<<<<<<< Updated upstream
              <img width=400 src="<%= image %>" />
              <p><%=msg%></p>
              </div>
              <%- include ../layout/footer.ejs %>
=======

                <%- include ../layout/footer.ejs %>
>>>>>>> Stashed changes
            </main>

    </body>

    </html>